.container {
    font-family: 'Montserrat', sans-serif;
    padding: 3em;
}

.contactForm {
    background-color: white;
    border: 10px solid black;
    padding: 3em;
}

.form-group.col-md-6 {
    font-weight: bold;
}

.form-group {
    font-weight: bold;
}

#inputMessage { 
     height: 200px; 
}

.btn.btn-primary {
    background-color: #f79be3;
    border: #f79be3;
}