.container {
    font-family: 'Montserrat', sans-serif;
    padding: 3em;
}

#SocialMedia {
    background-color: white;
    border: 10px solid black;
    margin-right: 10px;
    
}

#GitHub {
    background-color: white;
    border: 10px solid black;
    margin-left: 10px; 
}

.card-title {
    color: #f79be3;
    font-weight: bold;
    font-size: x-large;
}

.card-text {
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    font-size: large;
}

.list-group-item, .list-group-item:hover {
    color: #f79be3;
}

#header {
    color: black;
    font-weight: bold;
}

.btn.btn-primary, .btn.btn-primary:focus {
    background-color: #f79be3;
    border: #f79be3;
    margin-bottom: 15px;
    height: 5vh;
}
 .btn.btn-primary:hover, .btn.btn-primary:visited, .btn.btn-primary:active {
     background-color: black;
     border-color: black; 
 }

 @media only screen and (min-width: 1366px) {
    .btn.btn-primary {
        position: relative;
        margin-left: 950px;
    }
}

@media only screen and (max-width: 1365px) {
    .btn.btn-primary {
        position: relative;
        margin-left: 700px;
    }
}